In [ ]:
import pandas as pd  
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler
from statsmodels.stats.outliers_influence import variance_inflation_factor
from sklearn.model_selection import train_test_split
from sklearn import linear_model
from sklearn.metrics import r2_score
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import  accuracy_score
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC 
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB
#hethouma les imports eli hachetna bihom el kol

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [ ]:
heart= pd.read_csv('heart.csv')
heart

     age  sex  cp  trestbps  chol  fbs  ...  exang  oldpeak  slope  ca  thal  target
0     63    1   3       145   233    1  ...      0      2.3      0   0     1       1
1     37    1   2       130   250    0  ...      0      3.5      0   0     2       1
2     41    0   1       130   204    0  ...      0      1.4      2   0     2       1
3     56    1   1       120   236    0  ...      0      0.8      2   0     2       1
4     57    0   0       120   354    0  ...      1      0.6      2   0     2       1
..   ...  ...  ..       ...   ...  ...  ...    ...      ...    ...  ..   ...     ...
298   57    0   0       140   241    0  ...      1      0.2      1   0     3       0
299   45    1   3       110   264    0  ...      0      1.2      1   0     3       0
300   68    1   0       144   193    1  ...      0      3.4      1   2     3       0
301   57    1   0       130   131    0  ...      1      1.2      1   1     3       0
302   57    0   1       130   236    0  ...      0      0.0      1   1     2       0

[303 rows x 14 columns]

In [ ]:
heart['ID']=columns

In [ ]:
heart.head() #les 5 premiers

   age  sex  cp  trestbps  chol  fbs  ...  exang  oldpeak  slope  ca  thal  target
0   63    1   3       145   233    1  ...      0      2.3      0   0     1       1
1   37    1   2       130   250    0  ...      0      3.5      0   0     2       1
2   41    0   1       130   204    0  ...      0      1.4      2   0     2       1
3   56    1   1       120   236    0  ...      0      0.8      2   0     2       1
4   57    0   0       120   354    0  ...      1      0.6      2   0     2       1

[5 rows x 14 columns]

In [ ]:
heart.tail()# nchouf ekher rows fel data mte3na

     age  sex  cp  trestbps  chol  fbs  ...  exang  oldpeak  slope  ca  thal  target
298   57    0   0       140   241    0  ...      1      0.2      1   0     3       0
299   45    1   3       110   264    0  ...      0      1.2      1   0     3       0
300   68    1   0       144   193    1  ...      0      3.4      1   2     3       0
301   57    1   0       130   131    0  ...      1      1.2      1   1     3       0
302   57    0   1       130   236    0  ...      0      0.0      1   1     2       0

[5 rows x 14 columns]

In [ ]:
heart.shape

(303, 14)

In [ ]:
heart.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [ ]:
#checking foe messing values eli ma 3anech houni déje l kol 0 hata valeurs manquantes
heart.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [ ]:
heart.describe()#statistical measures ala data mte3na

              age         sex          cp  ...          ca        thal      target
count  303.000000  303.000000  303.000000  ...  303.000000  303.000000  303.000000
mean    54.366337    0.683168    0.966997  ...    0.729373    2.313531    0.544554
std      9.082101    0.466011    1.032052  ...    1.022606    0.612277    0.498835
min     29.000000    0.000000    0.000000  ...    0.000000    0.000000    0.000000
25%     47.500000    0.000000    0.000000  ...    0.000000    2.000000    0.000000
50%     55.000000    1.000000    1.000000  ...    0.000000    2.000000    1.000000
75%     61.000000    1.000000    2.000000  ...    1.000000    3.000000    1.000000
max     77.000000    1.000000    3.000000  ...    4.000000    3.000000    1.000000

[8 rows x 14 columns]

In [ ]:
#checking for the distributions of target eli houni deja 1 ma3neha mrith 0 ma3neha healthy
heart['target'].value_counts()

1    165
0    138
Name: target, dtype: int64

1 ----> defective heart

0------> healthy heart

spliting now the features and the target

In [ ]:
X=heart.drop(columns='target',axis=1)           #features houni axis=1 khter houni bch nedropiw colonne
Y=heart['target'] #7atina target houni ya3ni labels

In [ ]:
print (Y)

0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: target, Length: 303, dtype: int64

spliting our data into training data && test data

In [ ]:
X_Train, X_Test, Y_Train, Y_Test = train_test_split(X,Y,test_size=0.2)

In [ ]:
print(X.shape , X_Train.shape ,X_Test.shape)

(303, 13) (242, 13) (61, 13)

Model training

In [ ]:
knn = KNeighborsClassifier()

tree = DecisionTreeClassifier()

svm = SVC()

log = LogisticRegression()

naive = GaussianNB()
#kolna l kol wehed mel model esm

In [ ]:
knn.fit(X_Train, Y_Train)

tree.fit(X_Train, Y_Train)

log.fit(X_Train, Y_Train)

naive.fit(X_Train, Y_Train)

svm.fit(X_Train, Y_Train)
#3malna training l barcha modelet ala training data mte3na

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

SVC()

In [ ]:
print(knn.score(X_Test, Y_Test),

tree.score(X_Test, Y_Test),

log.score(X_Test, Y_Test),

naive.score(X_Test, Y_Test),

svm.score(X_Test, Y_Test))

0.639344262295082 0.7049180327868853 0.819672131147541 0.8688524590163934 0.6885245901639344

Accuracy score

In [ ]:
X_Train_pred=naive.predict(X_Train)
train_acc = accuracy_score(X_Train_pred, Y_Train)

In [ ]:
print(train_acc)

0.8388429752066116

In [ ]:
X_Train_pred=naive.predict(X_Test)
train_acc = accuracy_score(X_Train_pred, Y_Test)

In [ ]:
print(train_acc)

0.8688524590163934

In [61]:
from sklearn.ensemble import GradientBoostingClassifier, RandomForestClassifier, VotingClassifier

gbc = GradientBoostingClassifier()

rfc = RandomForestClassifier()



gbc.fit(X_Train, Y_Train)

rfc.fit(X_Train, Y_Train)

RandomForestClassifier()

In [69]:
y_preds=naive.predict(X_Test)

data=pd.DataFrame(X_Test['cp'])
data['target']=y_preds
data.to_csv("subbmit.csv", index=False)
data
#houni kharajna fichier csv samineh subbmit meli khdemneh kbal bch nchoufou selon 'chest pain type' la personne est malade ou pas

     cp  target
70    2       1
285   0       0
41    1       1
194   2       0
273   0       1
..   ..     ...
205   0       0
39    2       1
14    3       1
144   2       1
22    0       1

[61 rows x 2 columns]